# EmailJS credentials for the contact form.
# Sign up free at https://www.emailjs.com, then copy these three values here
# and rename this file to ".env" (restart `npm start` after changing).
#
# 1. Email Services -> add Gmail  -> Service ID
# 2. Email Templates -> create a template that emails you, using variables
#    {{from_name}} {{from_email}} {{subject}} {{message}}, with "To Email"
#    set to your email -> Template ID
# 3. Account -> General -> Public Key

REACT_APP_EMAILJS_SERVICE_ID=your_service_id
REACT_APP_EMAILJS_TEMPLATE_ID=your_template_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_public_key
